vertexco-master/public/resources/js/customer/home.js
vertexco-master/public/resources/js/customer/order_history.js
vertexco-master/public/resources/js/role/index.js
vertexco-master/public/resources/js/rating/index.js
vertexco-master/public/resources/js/product/index.js
vertexco-master/public/resources/js/product/edit.js
vertexco-master/public/resources/js/product/create.js
vertexco-master/public/resources/js/posts/index.js
vertexco-master/public/resources/js/posts/create.js
vertexco-master/public/resources/js/order/index.js
vertexco-master/public/resources/js/order/show.js
vertexco-master/public/resources/js/customer/cart.js
vertexco-master/public/resources/js/category/index.js
vertexco-master/public/resources/js/category/edit.js
vertexco-master/public/resources/js/category/create.js
vertexco-master/public/resources/js/brand/create.js
vertexco-master/public/resources/js/brand/edit.js
vertexco-master/public/resources/js/brand/index.js
vertexco-master/public/resources/js/main.js
vertexco-master/public/resources/js/dashboard_2.js
vertexco-master/public/resources/js/dashboard_1.js
vertexco-master/public/resources/js/app.js
vertexco-master/public/resources/css/app.css
vertexco-master/public/mix-manifest.json
vertexco-master/.env.example
